<div class="overlay">
    <div class="custom-modal modal-height" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center">Sign Up</h1>
                </div>
                <div class="modal-body">
                   <form 
                    [formGroup]="registerForm" 
                    class="form-body" 
                    (ngSubmit)="onSubmit()">
                        <div>
                            <label for="name">Name</label><br/>
                            <input 
                                type="name" 
                                id="name" 
                                class="form-control"
                                formControlName="name"/>
                            <p *ngIf="name?.errors?.['required']" 
                                class="text-danger">Name field cannot be empty</p>
                        </div>
                        <div>
                            <label for="email">Email</label><br/>
                            <input 
                                type="email" 
                                id="email" 
                                class="form-control"
                                formControlName="email"/>
                            <p *ngIf="email?.errors?.['required']" 
                                class="text-danger">Email field cannot be empty</p>
                        </div>
                        <div>
                            <label for="password">Password</label><br/>
                            <input 
                                type="password" 
                                id="password" 
                                class="form-control"
                                formControlName="password"/>
                            <p *ngIf="password?.errors?.['required']" 
                                class="text-danger">Password field cannot be empty</p>
                        </div>
                        <input 
                            type="submit" 
                            class="btn btn-primary w-100 mt-3" 
                            [value]="loading ? 'loading...' : 'Register'" />
                   </form>
                </div>
                <p class="bottom-text">
                    Already have an account? &nbsp;<a href="login">Login</a>
                </p>
            </div>
        </div>
    </div>
</div>
